@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif !important;
}
/*Codigo del generador*/
/*185;21;11*/
:root{
    --bg: #bcd3d1;
    --white:#f5f8f7;
    --black: #162122;
    --lightGreen:#92b6b4;
    --greenMedium:#3f6162;
}
body {
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
footer{
    height:50px;
    background-color:#000;
    color:var(--white);
    display:flex;
    align-items:center;
    justify-content:center;
}
p{
    margin: 0 auto;
    font-weight:600;
}