*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;
    text-decoration:none;
}
.content{
    margin: 0 2rem;
}
.navbar{
    height: 70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.navbar-logo-container{
    display:flex;
    height:80%;
}
.navbar-logo{
    border-radius: .5rem;
    object-fit:cover;
}
.navbar-list{
    display:flex;
    gap: 2rem;
    list-style:none;
}
.navbar-login{
    display:flex;
    gap: 1rem;
}